* {
  background: linear-gradient(0.25turn, #01cdfe, #05ffa1, #02fa27);
  color: #0000ff;
  font-family: courier, courier new, serif;
  font-size: 30px;
}

h1 {
  font-size: 40px;
  color: #bd00f1;
}

.hidden {
  display: none;
}

em {
  background: none;
}

b {
  background: none;
}

span {
  background: none;
}

.extra {
  color: #bd00f1;
}
